{% extends "layout.html" %}

{% block title %}Delete reference{% endblock %}

{% block body %}


<h2>Delete reference</h2>
  <li style="display: flex">
    <div class="reference-card">
      <div class="reference-header">
        <a class="reference-title" href="/reference/{{ reference.id }}">{{ reference.title }}</a>
      </div>

      <div class="reference-meta">
        <p><strong>Author(s):</strong> {{ reference.author }}</p>
        <p><strong>Year:</strong> {{ reference.year }}</p>
        <p><strong>Type:</strong> {{ reference.reference_type }}</p>
        <p><strong>Cite key:</strong> {{ reference.cite_key }}</p>

        {% if reference.reference_type == "book" %}
          {% if reference.publisher %}<p><strong>Publisher:</strong> {{ reference.publisher }}</p>{% endif %}
          {% if reference.chapter %}<p><strong>Chapter:</strong> {{ reference.chapter }}</p>{% endif %}
          {% if reference.pages %}<p><strong>Pages:</strong> {{ reference.pages }}</p>{% endif %}
        {% elif reference.reference_type == "article" %}
          {% if reference.journal %}<p><strong>Journal:</strong> {{ reference.journal }}</p>{% endif %}
        {% elif reference.reference_type == "inproceedings" %}
          {% if reference.booktitle %}<p><strong>Booktitle:</strong> {{ reference.booktitle }}</p>{% endif %}
        {% elif reference.reference_type == "misc" %}
          {% if reference.url %}<p><strong>Url:</strong> {{ reference.url }}</p>{% endif %}
        {% endif %}
      </div>
    </div>
  </li>
<p>Are you sure you want to delete this reference?</p>
</br>
<form action="/reference/{{  reference.id  }}/delete" method="post">
  <button
    class="btn-cancel"
    type="submit" name="delete" value="Yes"
  >
    Yes
  </button>
  <button
    class="btn-neutral"
    type="submit" name="cancel" value="No"
  >
    No
  </button>
</form>

{% endblock %}