{% extends "layout.html" %} {% block title %} Edit reference {% endblock %} {% block body %}

<h2 class="head-form">Edit reference</h2>

<form class="form" id="edit-ref-form" action="/reference/{{ reference.id }}/edit" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="form-field">
  <label for="reference_type"
    >Reference Type<span class="required">*</span></label
    >
  <select name="reference_type" id="reference_type" required>
    <option value="book" {% if reference.reference_type == 'book' %}selected{% endif %}>Book</option>
    <option value="article" {% if reference.reference_type == 'article' %}selected{% endif %}>Article</option>
    <option value="inproceedings" {% if reference.reference_type == 'inproceedings' %}selected{% endif %}>Inproceedings</option>
  </select>
  </div>

  <div class="form-field">
  <label for="cite_key">Cite Key<span class="required">*</span></label>
  <input type="text" name="cite_key" value="{{ reference.cite_key or '' }}" required />
  </div>

  <div class="form-field">
  <label for="title">Title<span class="required">*</span></label>
  <input type="text" name="title" value="{{ reference.title or '' }}" required />
  </div>
<div class="form-field">
  <label for="author">Author(s) add one per field (Lastname, Firstname)<span class="required">*</span></label>
  <div id="author-fields">
    {% set formatted = reference.author or '' %}
    {% set raw = formatted.split(';') %}
    {% if raw and raw[0].strip() %}
      {% for a in raw %}
      <div class="author-row">
        {% if loop.first %}
        <input id="author" type="text" name="authors" value="{{ a.strip() }}" required />
        {% else %}
        <input id="author" type="text" name="authors" value="{{ a.strip() }}" />
        <button type="button" class="remove-author">×</button>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <div class="author-row">
        <input id="author" type="text" name="authors" required />
      </div>
    {% endif %}
  </div>

  <button type="button" id="add-author">+ Add Author</button>
  </div>

  <div class="form-field">
  <label for="year">Year<span class="required">*</span></label>
  <input
    type="number"
    name="year"
    min="0"
    max="{{ curr_year }}"
    value="{{ reference.year or curr_year }}"
    required
  />
  </div>

  <div id="dynamic-fields"></div>
 <button class="btn-cancel" type="submit" name="cancel" formnovalidate>Cancel</button>
  <button class="btn-create" type="submit">Save</button>
  <p><span class="required">*</span> Required fields</p>
</form>

<script>
  const REFERENCE_ID = "{{ reference.id }}";
</script>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}