<div>
  <div class="form-field">
    <div class="label-row">
      <label for="publisher">Publisher</label>
      <info-tooltip info="Enter the name of the publisher of the book."></info-tooltip>
    </div>
    <input
      type="text"
      name="publisher"
      value="{{ reference.publisher or '' }}"
    />
  </div>

  <div class="form-field">
    <div class="label-row">
      <label for="chapter">Chapter</label>
      <info-tooltip info="Enter the chapter of the book."></info-tooltip>
    </div>
    <input type="text" name="chapter" value="{{ reference.chapter or '' }}" />
  </div>
</div>
