{% extends "layout.html" %} {% block title %} Create a new reference {% endblock
%} {% block body %}

<h2 class="head-form">Create a new reference</h2>

<form class="form" action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="form-field">
    
    <div class="label-row">
      <label for="reference_type">
        Reference Type<span class="required">*</span>
        
      </label>
      <info-tooltip info="Select the type of reference you want to create."></info-tooltip>
    </div>
    
    
    <select name="reference_type" id="reference_type" required>
      <option value="book">Book</option>
      <option value="article">Article</option>
      <option value="inproceedings">Inproceedings</option>
      <option value="misc">Misc</option>
    </select>
  </div>

  <div class="form-field">
    <div class="label-row">
      <label for="cite_key">Cite Key<span class="required">*</span>
      </label>
      <info-tooltip info="Enter a unique key for citing this reference. <br> The key should not contain spaces or special characters."></info-tooltip>
    </div>
    <input type="text" name="cite_key" value="{{ cite_key or '' }}" required />
  </div>

  <div class="form-field">
    <div class="label-row">
      <label for="title">Title<span class="required">*</span>
      </label>
      <info-tooltip info="Enter the title of the reference."></info-tooltip>
    </div>
    <input type="text" name="title" value="{{ title or '' }}" required />
  </div>
  <div class="form-field">
    <div class="label-row">
      <label for="author">Author(s)<span class="required">*</span>
      </label>
      <info-tooltip info="Provide the name of each author for the reference.<br> Click “+ Add Author” to include more than one.<br>
Author names may be written as either “Lastname, Firstname” or “Firstname Lastname.”"></info-tooltip>
    </div>
    <div id="author-fields">
      <div class="author-row">
        <input id="author" type="text" name="authors" required />
      </div>
    </div>

    <button type="button" id="add-author">+ Add Author</button>
  </div>

  <div class="form-field">
    <div class="label-row">
      <label for="year">Year<span class="required">*</span>
      </label>
      <info-tooltip info="Enter the publication year of the reference."></info-tooltip>
    </div>
    <input
      type="number"
      name="year"
      min="0"
      max="{{ curr_year }}"
      value="{{ year or curr_year }}"
      required
    />
  </div>
  <div id="dynamic-fields"></div>
  <button class="btn-cancel" type="button" onclick="window.location.href='/'">
    Cancel
  </button>
  <button class="btn-create" type="submit">Create</button>
  <p><span class="required">*</span> Required fields</p>
</form>

<script>
  const REFERENCE_ID = "none";
</script>

{% endblock %}
