{% extends "layout.html" %} {% block title %}{{ reference.title }}{% endblock %}
{% block body %}

<h2>Reference information</h2>
<li style="display: flex">
  <div class="reference-card">
    <div class="reference-header">
      <a class="reference-title" href="/reference/{{ reference.id }}"
        >{{ reference.title }}</a
      >
    </div>

    <div class="reference-meta">
      <p><strong>Author(s):</strong> {{ reference.author }}</p>
      <p><strong>Year:</strong> {{ reference.year }}</p>
      <p><strong>Type:</strong> {{ reference.reference_type }}</p>
      <p><strong>Cite key:</strong> {{ reference.cite_key }}</p>

      {% if reference.reference_type == "book" %} {% if reference.publisher %}
      <p><strong>Publisher:</strong> {{ reference.publisher }}</p>
      {% endif %} {% if reference.chapter %}
      <p><strong>Chapter:</strong> {{ reference.chapter }}</p>
      {% endif %} {% elif reference.reference_type == "article" %} {% if
      reference.journal %}
      <p><strong>Journal:</strong> {{ reference.journal }}</p>
      {% endif %} {% if reference.volume %}
      <p><strong>Volume:</strong> {{ reference.volume }}</p>
      {% endif %} {% if reference.pages %}
      <p><strong>Pages:</strong> {{ reference.pages }}</p>
      {% endif %} {% elif reference.reference_type == "inproceedings" %} {% if
      reference.booktitle %}
      <p><strong>Booktitle:</strong> {{ reference.booktitle }}</p>
      {% endif %} {% endif %}
    </div>
  </div>
</li>
<p>
  <button class="btn-neutral" onclick="window.location.href='/'">
    Back to Home
  </button>
  <button
    class="btn-create"
    onclick="window.location.href='/reference/{{ reference.id }}/edit'"
  >
    Edit reference
  </button>
  <button
    class="btn-cancel"
    onclick="window.location.href='/reference/{{ reference.id }}/delete'"
  >
    Delete reference
  </button>
</p>

{% endblock %}
